.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  text-align: center;
}

h3{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  width: 200px;
  align-self: center;
  margin: auto;
  display: block;
  padding: 10px;
}
